UD4_XML/ejercicio/UD_4_EX3_PACK_NIKOLAY_PETKOV/ex3.3.dtd

<!ELEMENT demanat (llibres?|quaderns?|llapissos?)+>
<!ELEMENT llibres (llibre+)>
<!ELEMENT quaderns (quadern+)>
<!ELEMENT llapissos (llapis+)>
<!ELEMENT llapis (numero)>

<!ELEMENT llibre EMPTY>
<!ELEMENT quadern EMPTY>
<!ELEMENT numero (#PCDATA)>

<!ATTLIST llibre titol CDATA #REQUIRED >
<!ATTLIST quadern num_fulles CDATA #IMPLIED >
